.f-gv {
  font-family: "Great Vibes", serif;
  font-weight: 500;
  font-style: normal;
}
.f-ds {
  font-family: "Dosis", serif;
  font-style: normal;
}
@import "header";
@import "home";
@import "couple";
@import "bigday";
@import "bigday2";
@import "lovestory";
@import "when";
@import "footer";
